$dark-content-bg-alt: #3c3c3c;
$dark-content-bg: #191919;
$green: #008000;
$light-content-bg-alt: #ececec;
$light-content-bg: #f9f9f9;
$natlas-blue: #0b59bd;
$natlas-pink: #ed1e79;
$natlas-purple: #620ee1;
$natlas-soft-blue: #0064b7;
$off-black-lighter: #222;
$off-black-lightest: #333;
$off-black: #111;
$off-white-darker: #e1e1e1;
$off-white-darkest: #d1d1d1;
$off-white: #f1f1f1;
$red: #f00;
$white: #fff;
