/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Footer
 */
.global-footer {
  text-align:left;
  padding-top:50px;
  padding-bottom:50px;
  margin-top:100px;
  color:#99979c;
  background-color:#222;
}
.footer-links {
  padding-left:0;
  margin-bottom:20px;
}
.footer-links li {
  display:inline-block;
  margin-left:3em;
}
.footer-links li:first-child {
  margin-left:0em;
}
.footer-links a {
  color: #fff;
}
/*
 * Main content
 */

.nmap_data {
  white-space: pre-wrap;
  margin-bottom:0px;
  margin-top:1em;
}
.preview_nmap {
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  line-height:4em;
  margin-top:-4em;
  color:#fff;
}
.preview_nmap:hover {
  background-color:rgba(0,0,0,0.75);
}
a.preview_link, a:hover.preview_link {
  color:#fff;
  display:block;
}

.messages {
  margin-top:1em;
}

.register-link {
  margin-top:1em;
}

.host-nav {
  margin-bottom:1em;
}

.table-striped>tbody>tr:first-child>td {
  border-top:none;
}

.host-headshot {
  max-width:100%;
}
.headshot-header {
  border-bottom:1px solid #cfcfcf;
}

.green {
  color:green;
}

.red {
  color:red;
}

div.expand-img {
  cursor: zoom-in;
}

.imagetitle {
  display:inline;
}

@media only screen and (min-width:1000px) {
  .modal-dialog {
    width: 1000px;
  }
}

@media only screen and (min-width:1200px) {
  .modal-dialog {
    width: 1170px;
  }
}

label.config-form {
  margin-top:4px;
}
form.config-form>div, form.pwchange-form>div {
  margin-top:1em;
}

.services-box {
  max-height:20em;
}

.host-row:nth-child(odd) {
  background-color: #f9f9f9;
  border-top: 1px solid #f0f0f0;
  margin-top:1em;
}

.btn-export {
  max-width:100px;
}

.btn-trash {
  background:none;
  border:none;
  padding:0;
}

.inline-submit {
  display:inline-block;
  margin:0;
}
