@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: reduce) {
    #natlas-logo-inner-ring {
        animation: none;
    }
}

@media (prefers-reduced-motion: no-preference) {
    #natlas-logo-inner-ring {
        animation: spin 30s linear infinite;
        transform-box: fill-box;
        transform-origin: center;
    }
}
