.statusbar {
    height: 2rem;
}

.statusbar-content {
    font-size: 1.25rem;
    height: 2rem;
    line-height: 2rem;
}

#cycle_status_overlay {
    display: flex;
}

#progbarbg:hover #cycle_status_overlay {
    display: none;
}

#cycle_status_overlay_exact {
    display: none;
}

#progbarbg:hover #cycle_status_overlay_exact {
    display: flex;
}
