.statusbar {
	height: 2rem;
}

.statusbar-content {
	font-size: 1.25rem;
	height: 2rem;
	line-height: 2rem;
}

#cycle_status_overlay {
	display: flex !important;
}

#progbarbg:hover #cycle_status_overlay {
	display: none !important;
}

#cycle_status_overlay_exact {
	display: none !important;
}

#progbarbg:hover #cycle_status_overlay_exact {
	display: flex !important;
}

#scans_this_cycle {
	padding-right: 0.5rem;
}

#effective_scope_size {
	padding-left: 0.5rem;
}
