<nav aria-label="Page navigation" class="pagenav">
  <ul class="pagination">
    <li class="page-item{% if not prev_url %} disabled{% endif %}">
      <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Previous">
        <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
      </a>
    </li>
    <li class="page-item{% if not next_url %} disabled{% endif %}">
      <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
        <span aria-hidden="true"><i class="fas fa-arrow-right"></i></span>
      </a>
    </li>
  </ul>
</nav>
