venv
*~
__pycache__
*.pyc
*.log
data
metadata.db
.env
*.bak
natlas-agent/natlas-services
natlas-agent/data
natlas-agent/LICENSE
natlas-agent/CHANGELOG.md
natlas-server/LICENSE
natlas-server/CHANGELOG.md
dist
natlas-server/media
natlas-server/logs
natlas-agent/logs
tmp
natlas-server/node_modules
.DS_Store
