version: "3.7"
services:
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.2
    container_name: elastic
    environment:
      - node.name=elastic
      - discovery.type=single-node
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elastic:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - backend
    restart: on-failure

  webpack-server:
    image: node:12-stretch
    command: /bin/bash -c '/usr/local/bin/yarn install && /usr/local/bin/yarn run webpack --mode development --watch'
    networks:
      - backend
    volumes:
      - ./natlas-server:/app
      - node_modules:/app/node_modules
      - html_assets:/app/static/dist
    working_dir: /app

  natlas-server:
    build: natlas-server
    command: /usr/local/bin/flask run --host 0.0.0.0
    ports:
      - 5000:5000
    networks:
      - backend
    environment:
      - ELASTICSEARCH_URL=http://elastic:9200
      - FLASK_ENV=development
    volumes:
      - ns-data:/data
      - ./natlas-server:/opt/natlas/natlas-server
      - html_assets:/opt/natlas/natlas-server/static/dist
    restart: on-failure
    links:
      - elastic

  natlas-agent:
    build: natlas-agent
    networks:
      - backend
    restart: on-failure
    environment:
      - NATLAS_SERVER_ADDRESS=http://natlas-server:5000
      - NATLAS_SCAN_LOCAL=true
    cap_add:
      - NET_ADMIN
    volumes:
      - ./natlas-agent:/opt/natlas/natlas-agent
    links:
      - natlas-server

networks:
  backend:

volumes:
  ns-data:
  elastic:
  node_modules:
  html_assets:
