<div class="flex flex-wrap items-center host-row py-1 border-b border-gray-200">
  <!-- First Column -->
  <div class="flex-none vert-flex-mid mr-8">
      <span class="host-row-text pl-2">
          {% include 'host/versions/0.6.12/_host-status.html' %}
          <a href="{{ url_for('host.host_historical_result', ip=host.ip, scan_id=host.scan_id) }}">
              <time datetime="{{ host.ctime }}" title="{{ host.ctime|ctime(human=True) }}">
                  {{ host.ctime | ctime }}
              </time>
          </a>
      </span>
  </div>

  <!-- Second Column -->
  <div class="flex-grow max-w-2xl vert-flex-mid mr-4">
      {% if host.is_up and host.port_count == 0 %}
          No ports open
      {% elif not host.is_up and host.timed_out %}
          Scan Timed Out
      {% elif not host.is_up %}
          Host down
      {% elif host.is_up and host.port_count > 0 %}
          <!-- Visible on small screens, hidden on medium and up -->
          <div class="flex md:hidden">
              <span>
                  {% for port in host.ports %}
                      {{ port.port }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
              </span>
          </div>
          <!-- Hidden on small screens, flex on medium and up -->
          <div class="flex-wrap hidden md:flex">
              {% for port in host.ports %}
                  <div class="w-1/2 sm:w-1/6 my-2 mx-2 port-summary">
                      <div class="port-number">
                          {{ port.port }}
                      </div>
                      <div class="port-protocol">
                          {{ port.protocol }}
                      </div>
                      <div class="port-service">
                          {{ port.service.name }}
                      </div>
                  </div><!--end port-summary-->
              {% endfor %}
          </div>
      {% endif %}
  </div><!--end port-details-->

  <!-- Third Column -->
  <div class="flex-none vert-flex-mid hidden sm:flex">
      {% if host.nmap_data or host.xml_data or host.gnmap_data %}
          {% include 'host/versions/0.6.12/_host-export.html' %}
      {% else %}
          <div class="host-history-export" role="group">
              <button id="exportGroup-{{host.scan_id}}" type="button"
                      class="inline-flex items-center px-4 py-2 bg-blue-600 text-white font-medium rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:bg-gray-400 disabled:cursor-not-allowed"
                      disabled
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      title="No data available to export">
                  Export
              </button>
          </div>
      {% endif %}
  </div>
</div>
