<div class="row host-row py-1">
  <div class="col-xs-12 col-sm-4 col-md-3">
    {% if pagetype == 'search' %}
      <h3 class="mt-2"><a href="{{ url_for('host.host', ip=host.ip) }}">{{ host.ip }}</a></h3>
    {% endif %}
    {% if host.ctime %}
      <div class="date-submitted">
        <span class="submitted-text text-muted pr-1">Submitted:</span>
        <a href="{{ url_for('host.host_historical_result', ip=host.ip, scan_id=host.scan_id) }}">
          <time datetime={{ host.ctime }} title="{{ host.ctime|ctime(human=True) }}">{{ host.ctime | ctime }}</time>
        </a>
      </div>
    {% endif %}
    {% if host.ports|length > 0 %}
      <h5 class="mt-2">Open Ports</h5>
      <span class="port-str">{{ host.port_str }}</span>
    {% elif host.port_count == 0 and host.is_up %}
      <h5 class="mt-2">No open ports</h5>
    {% elif not host.is_up %}
      <h5 class="mt-2">Host down</h5>
    {% endif %}
    {% if host.hostname %}
    <h5 class="mt-2">Hostname</h5>
    <span class="host-hostname">{{ host.hostname }}</span>
    {% endif %}
    {% if host.tags %}
    <h5 class="mt-2">Tags</h5>
      {% for tag in host.tags %}
        <a href="{{ url_for('main.search', query="tags:" + tag)}}"><span class="badge badge-secondary badge-tag">{{ tag }}</span></a>
      {% endfor %}
    {% endif %}
    <div class="btn-group export-group mt-2" role="group">
        {% include 'host/versions/0.6.8/_host-export.html' %}
      </div>

    {% for screenshot in host.screenshots %}
      {% if screenshot.hash %}
      <h5 class="mt-2">Port {{ screenshot.port }}</h5>
      <small>{{screenshot.host}}</small>
      <div class="expand-img"><img class="img-responsive img-thumbnail" data-path='/media/original/{{screenshot.hash|get_screenshot_path(screenshot.service)}}' src='/media/thumbs/{{screenshot.thumb_hash|get_screenshot_path(screenshot.service)}}' alt="{{ host.ip }} - {{ screenshot.service }} Screenshot"></div>
      {% endif %}
    {% endfor %}
  </div><!--meta column-->
  {% if current_user.result_format == 0 or not current_user.result_format %}
  <div class="col-xs-12 col-sm-8 col-md-9">
      {% for port in host.ports %}
          {% set portloop = loop %}
          {% include 'host/versions/0.6.8/_port-info.html' %}
      {% endfor %}
    </div><!--data column-->
  {% elif current_user.result_format == 1 %}
  <div class="col-xs-12 col-sm-8 col-md-9">
    <pre class="nmap_data px-2 py-2 mt-2">{{ host.nmap_data }}</pre>
  </div>
  {% endif %}
</div><!-- end host row -->
