{% extends "base.html" %}
{% set pagetype = 'search' %}
{% set title = "Browse | Page " ~ page %}

{% block content %}
  <div class="row search-header mb-3">
    <div class="col">
      {% if request.args.get('includeHistory') %}
      <h2 class="sub-header">{{ numresults }} results across {{ totalHosts }} hosts <small>(including history)</small></h2>
      {% else %}
      <h2 class="sub-header">{{ numresults }} results across {{ totalHosts }} hosts</h2>
      {% endif %}
    </div>
    {% if numresults > current_user.results_per_page %}
      <div class="col-xs-12 col-sm-1">
        {% include 'includes/pagination.html' %}
      </div>
    {% endif %}
  </div>
  <div class="host-rows">
    {% include 'main/_host_collection.html' %}
  </div>
  {% include 'host/_imagemodal.html' %}
  {% if numresults > current_user.results_per_page %}
    <div class="row">
      <div class="col text-center my-2">
        {% include 'includes/pagination.html' %}
      </div>
    </div>
  {% endif %}
{% endblock %}
