{% extends "base.html" %}
{% set title = "Screenshot Browser" %}
{% block content %}
    <div class="row search-header">
        <div class="col">
            <h2 class="sub-header">{{total_screenshots}} screenshots across {{total_hosts}} hosts</h2>
        </div>
        {% if total_hosts > current_user.results_per_page %}
        <div class="col-xs-12 col-sm-1 text-center">
        {% include 'includes/pagination.html' %}
        </div>
      {% endif %}
    </div>
    {% include 'host/_imagemodal.html' %}
        <div class="row image-row">
            {% for host in hosts %}
                {% for screenshot in host.screenshots %}
                    {% if screenshot.hash %}
                        {% include 'includes/_screenshot.html' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% if total_hosts > current_user.results_per_page %}
    <div class="row">
      <div class="col text-center my-2">
      {% include 'includes/pagination.html' %}
      </div>
    </div>
  {% endif %}
{% endblock %}
