{% extends "base.html" %}
{% set pagetype = 'search' %}
{% if query != '' %}
  {% set title = query ~ " | Page " ~ page %}
{% else %}
  {% set title = "Browse | Page " ~ page %}
{% endif %}

{% block content %}
  <div class="row search-header mb-3">
    <div class="col">
    {% if query != '' %}
      <h2 class="sub-header">{{numresults}} search results for '{{query}}'{%if request.args.get('includeHistory')%} <small>(including history)</small>{% endif %}</h2>
      {% if numresults > 0 %}
        {% include 'includes/hostlist_button.html' %}
      {% endif %}
    {% else %}
      {% if request.args.get('includeHistory') %}
      <h2 class="sub-header">{{ numresults }} results across {{ totalHosts }} hosts <small>(including history)</small></h2>
      {% else %}
      <h2 class="sub-header">{{ numresults }} results across {{ totalHosts }} hosts</h2>
      {% endif %}
    {% endif %}
    </div>
    {% if numresults > current_user.results_per_page %}
      <div class="col-xs-12 col-sm-1">
        {% include 'includes/pagination.html' %}
      </div>
    {% endif %}
  </div>
  <div class="host-rows">
    {% include 'main/_host_collection.html' %}
  </div>
  {% include 'host/_imagemodal.html' %}
  {% if numresults > current_user.results_per_page %}
    <div class="row">
      <div class="col text-center my-2">
        {% include 'includes/pagination.html' %}
      </div>
    </div>
  {% endif %}
{% endblock %}