{% extends "base.html" %}
{% set title = current_user.email ~ " | Profile" %}
{% set active_page = "profile" %}
{% block content %}
        {% include 'user/_header.html' %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>Change Password</h3>
                <form class="form-horizontal pwchange-form" action="{{url_for('user.profile')}}" method="post">
                    {{ changePasswordForm.hidden_tag() }}
                    <div class="form-group">
                        {{ changePasswordForm.old_password.label(class="control-label") }}
                        {{ changePasswordForm.old_password(class="form-control") }}
                        {% for error in changePasswordForm.old_password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ changePasswordForm.password.label(class="control-label") }}
                        {{ changePasswordForm.password(class="form-control") }}
                        {% for error in changePasswordForm.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ changePasswordForm.password2.label(class="control-label") }}
                        {{ changePasswordForm.password2(class="form-control") }}
                        {% for error in changePasswordForm.password2.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>{{ changePasswordForm.changePassword(class="btn btn-primary") }}</div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-1">
                <h3>Display Settings</h3>
                <form class="form-horizontal display-form" action="{{url_for('user.profile')}}" method="post">
                    {{ displaySettingsForm.hidden_tag() }}
                    <div class="form-group">
                        {{ displaySettingsForm.results_per_page.label(class="control-label") }}
                        {{ displaySettingsForm.results_per_page(class="form-control", selected=current_user.results_per_page) }}
                    </div>
                    <div class="form-group">
                        {{ displaySettingsForm.preview_length.label(class="control-label") }}
                        {{ displaySettingsForm.preview_length(class="form-control", selected=current_user.preview_length) }}
                    </div>
                    <div class="form-group">
                        {{ displaySettingsForm.result_format.label(class="control-label") }}
                        {{ displaySettingsForm.result_format(class="form-control", selected=current_user.result_format) }}
                    </div>
                    <div>{{ displaySettingsForm.updateDisplaySettings(class="btn btn-primary") }}</div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-3 border-bottom d-flex justify-content-between">
                <h2 class="d-inline-block">My Agents</h2>
                <div class="d-inline-block mb-2" style="font-size:2rem;">
                    <button class="btn btn-success" id="newAgent" name="newagent" title="Create New Agent" data-toggle="modal" data-target="#agentmodal" data-agentid="None" data-agentname="None" data-action="newagent" type="button"><i class="fas fa-plus-circle text-white mr-1"></i>New Agent</button>
                </div>
            </div>
            {% if agents %}
            <div class="col-12">
                <table class="table table-striped dataTable">
                    <thead>
                      <tr>
                        <th scope="col">Date Created</th>
                        <th scope="col">Agent ID</th>
                        <th scope="col">Friendly Name</th>
                        <th scope="col">API Key</th>
                        <th class="table-controls" scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for agent in agents %}
                      <tr id="agentrow-{{loop.index}}">
                        <td><time datetime="{{ agent.date_created.strftime('%Y-%m-%d %H:%M') }}" title="{{ agent.date_created.strftime('%Y-%m-%d %H:%M %Z') }}">{{ agent.date_created.strftime('%Y-%m-%d %H:%M') }}</time></td>
                        <td class="text-monospace">{{ agent.agentid }}</td>
                        <td>{{ agent.friendly_name }}</td>
                        <td id="agenttoken-{{loop.index}}" class="text-monospace">
                            <div id="showtokenwrapper-{{loop.index}}"><a id="showtoken-{{loop.index}}" class="showtoken" style="cursor:pointer;">Show API Key</a></div>
                            <div class="tokenval" id="tokenval-{{loop.index}}" style="display:none;">{{ agent.token }}</div>
                        </td>
                        <td style="text-align:center;">
                          {% include 'user/_agent_menu.html' %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            {% endif %}
        </div>

<div class="modal fade" tabindex="-1" role="dialog" id="agentmodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Agent Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{url_for('user.new_agent')}}" id="agentNameForm">
      <div class="modal-body">
          {{ agentNameForm.hidden_tag() }}
          {{ agentNameForm.agent_name(size=32, class="form-control", placeholder="Agent 1") }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="change_name" class="btn btn-primary">Change Name</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
