{% extends "base.html" %}
{% set title = "404 - Not Found" %}
{% block content %}
  <div class="container mx-auto px-4 py-8">
      <div class="mb-6">
          <h2 class="text-2xl font-semibold text-gray-800">{{ err }}</h2>
      </div>
      <div>
          <p class="text-gray-700">
              Looks like we couldn't find what you're looking for. Maybe you'd prefer to go on <a href="{{ url_for('host.random_host') }}" class="text-blue-500 hover:underline">an adventure</a>? Or maybe you'd like to <a href="{{ url_for('main.index') }}" class="text-blue-500 hover:underline">return to browse</a>.
          </p>
      </div>
  </div>
{% endblock %}
