# Ships with source
Dockerfile
*.md
deployment/
setup-agent.sh
.dockerignore
.gitignore
Dockerfile
chrome.json
.python-version
docs/
tests/

# Dev Environment
.env
venv/
.venv/
.mypy_cache/
__pycache__/
.vscode/
tmp/
logs/
data/
pip.log
