[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
python-dotenv = "~=1.0.1"
requests = "~=2.31.0"
sentry-sdk = "~=2.2.0"
natlas-libnmap = "*"
pillow = "*"

[requires]
python_version = "3.10"
