[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
python-dotenv = "~=0.15.0"
requests = "~=2.25.0"
sentry-sdk = "~=0.19.3"
natlas-libnmap = "*"
pillow = "*"

[requires]
python_version = "3.6"
