<div class="row page-header">
    <div class="col-xs-12 col-sm">
        <h1>{% if host %}{% include 'host/_host-status.html' %}{% endif %}{{ ip }}{% if host %}<small class="text-muted host-header-date"> - {{ host.ctime | ctime }}</small>{% endif %}</h1>
    </div>
    {% if current_user.is_admin %}
    <div class="col-xs-12 col-sm-1">
        <div class="btn-group host-history-export" role="group">
            <button id="deleteGroup" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delete
            </button>
            <div class="dropdown-menu" aria-labelledby="deleteGroup">
            {% if host %}
                <form method="POST" class="dropdown-item" action="{{ url_for('admin.deleteScan', scan_id=host.scan_id) }}">{{ delForm.hidden_tag() }} <button class="dropdown-item" id="deleteScan" name="deleteScan" title="Delete Scan" aria-hidden="true" onclick="return confirm('Are you sure you want to delete scan: {{ host.scan_id }}')" type="submit" ><i class="fas fa-trash-alt text-danger"></i> Delete Scan</button></form>
            {% endif %}
              <form method="POST" class="dropdown-item" action="{{ url_for('admin.deleteHost', ip=ip) }}">{{ delHostForm.hidden_tag() }} <button class="dropdown-item" id="deleteHost" name="deleteHost" title="Delete Host" aria-hidden="true" onclick="return confirm('Are you sure you want to delete host: {{ ip }}')" type="submit" ><i class="fas fa-dumpster-fire text-danger"></i> Delete Host</button></form>

            </div>
        </div>
    </div>
    {% endif %} 
</div>
<div class="row">
  <ul class="nav nav-tabs host-nav">
    <li role="presentation" class="nav-item">
    	<a id="summary" class="nav-link{{ ' active' if active_page == 'summary' }}" href="{{ url_for('main.host', ip=ip) }}">Summary</a>
    </li>
    <li role="presentation" class="nav-item">
    	<a id="history" class="nav-link{{ ' active' if active_page == 'history' }}" href="{{ url_for('main.host_history', ip=ip) }}">History <span class="badge badge-dark">{{ info.history }}</span></a>
    </li>
    <li role="presentation" class="nav-item">
    	<a id="headshots" class="nav-link{{ ' active' if active_page == 'headshots' }}" href="{{ url_for('main.host_headshots', ip=ip) }}">Screenshots <span class="badge badge-dark">{{ info.headshots }}</span></a>
    </li>
  </ul>
</div>