<div class="page-header">
    <h1>{{ ip }} <small>{% if pagetype=='single' %}- {{ host.scan_id }}{% endif %}</small>
    {% if current_user.is_admin %}
    <form method="POST" class="inline-submit" action="{{ url_for('admin.deleteHost', ip=host.ip) }}">{{ delHostForm.hidden_tag() }} <button class="glyphicon glyphicon-trash red btn-trash" id="deleteHost" name="deleteHost" title="Delete Host" aria-hidden="true" onclick="return confirm('Are you sure you want to delete host: {{ host.ip }}')" type="submit" ></button></form>
    {% endif %}
    </h1>
</div>
<ul class="nav nav-tabs host-nav" role="tablist">
  <li role="presentation" class="{{ 'active' if active_page == 'summary' else '' }}">
  	<a id="summary" href="{{ url_for('main.host', ip=ip) }}">Summary</a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'history' else '' }}">
  	<a id="history" href="{{ url_for('main.host_history', ip=ip) }}">History <span class="badge">{{ info.history }}</span></a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'headshots' else '' }}">
  	<a id="headshots" href="{{ url_for('main.host_headshots', ip=ip) }}">Headshots <span class="badge">{{ info.headshots }}</span></a>
  </li>
</ul>