<div class="row host-row py-1 no-gutters">
    <div class="col col-md-2">
      <span class="host-row-text">
      {% include 'host/_host-status.html' %}
      {% if host.is_up and host.port_count == 0 %}
        No ports open
      {% elif not host.is_up and host.timed_out %}
        Scan Timed Out
      {% elif not host.is_up %}
        Host down
      {% elif host.is_up and host.port_count > 0 %}
        {% for port in host.ports %}{{ port.port }}{% if not loop.last %}, {% endif %}{% endfor %}
      {% endif %}
      </span>
    </div>
    <div class="col col-md-2">
      <span class="host-row-text">
        <a href="{{ url_for('main.host_historical_result', ip=host.ip, scan_id=host.scan_id) }}">
          <time datetime={{ host.ctime }} title="{{ host.ctime|ctime(human=True) }}">{{ host.ctime | ctime }}</time>
        </a>
      </span>
    </div>
    <div class="col col-md-7 pr-2">
      {% if host.is_up and host.port_count > 0 %}
      <div class="row">
      {% for port in host.ports %}
        <div class="col-xs-4 col-sm-2 port-summary">
          <div class="port-number">
              {{ port.port }}
          </div>
          <div class="port-protocol">
              {{port.protocol}}
          </div>
          <div class="port-service">
              {{ port.service.name }}
          </div>
        </div><!--end port-summary-->
      {% endfor %}
      </div>
      {% endif %}
    </div>
    
    <div class="col col-md-1">
      {% if host.nmap_data or host.xml_data or host.gnmap_data %}
       <div class="btn-group host-history-export" role="group">
        <button id="exportGroup-{{host.scan_id}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Export
        </button>
        <div class="dropdown-menu" aria-labelledby="exportGroup-{{host.scan_id}}">
          {% if host.xml_data %}<a class="dropdown-item" href="{{ url_for('main.export_scan_xml', ip=host.ip, scan_id=host.scan_id) }}">.xml</a>{% endif %}
          {% if host.nmap_data %}<a class="dropdown-item" href="{{ url_for('main.export_scan_nmap', ip=host.ip, scan_id=host.scan_id) }}">.nmap</a>{% endif %}
          {% if host.gnmap_data %}<a class="dropdown-item" href="{{ url_for('main.export_scan_gnmap', ip=host.ip, scan_id=host.scan_id) }}">.gnmap</a>{% endif %}
        </div>
      </div>
    {% else %}
      <div class="btn-group host-history-export" role="group">
        <button id="exportGroup-{{host.scan_id}}" type="button" class="btn btn-primary dropdown-toggle" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="No data available to export">
          Export
        </button>
      </div>
    {% endif %}
    </div>
</div>