{% extends "base.html" %}
{% set title = ip ~ " | History | Page " ~ page %}
{% set active_page = "history" %}
{% set pagetype = 'history' %}
{% block content %}
  <div class="row">
    {% include 'host/_header.html' %}
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          {% for host in hosts %}
            {% include 'host/_host-row.html' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'includes/pagination.html' %}
  </div>
{% endblock %}