{% extends "base.html" %}
{% set title = ip ~ " | Screenshots" %}
{% set active_page = "screenshots" %}
{% block content %}
    {% include 'host/_header.html' %}

    {% for screenshot in screenshots %}
      <h5 class="mt-2">{{ screenshot.service }}</h5>
      <img src="data:image/jpeg;base64,{{ screenshot.data }}" alt="{{ screenshot.service }} Screenshot" class="host-headshot">
    {% endfor %}

	{% if headshot %}
	  <h3 class="headshot-header">Unknown Headshot</h3>
	  <img src="data:image/jpeg;base64,{{ headshot }}" alt="Unknown Screenshot" class="host-headshot">
	{% endif %}
	{% if vncheadshot %}
	  <h3 class="headshot-header">VNC</h3>
	  <img src="data:image/jpeg;base64,{{ vncheadshot }}" alt="VNC Screenshot" class="host-headshot">
	{% endif %}
	{% if httpheadshot %}
	  <h3 class="headshot-header">HTTP</h3>
	  <img src="data:image/jpeg;base64,{{ httpheadshot }}" alt="HTTP Screenshot" class="host-headshot">
	{% endif %}
	{% if httpsheadshot %}
	  <h3 class="headshot-header">HTTPS</h3>
	  <img src="data:image/jpeg;base64,{{ httpsheadshot }}" alt="HTTPS Screenshot" class="host-headshot">
	{% endif %}
{% endblock %}

