/*
* Natlas custom styles
* Really needs to be organized
*
*/

@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import 'css/colors';
@import 'css/globals';
@import 'css/components/host-row';
@import 'css/components/screenshots';
@import 'css/pages/status';
@import 'css/pages/landing';

/*
 * Global add-ons
 */

.pagenav {
    display: inline-block;
}

/*
 * Main content
 */

.main-content {
    padding-bottom: 100px;
    padding-top: 100px;
}

.messages {
    margin-top: 1em;
}

.register-link {
    margin-top: 1em;
}

.host-nav {
    margin-bottom: 1em;
}

.table-striped > tbody > tr:first-child > td {
    border-top: 0;
}

@media only screen and (min-width: 1000px) {
    .modal-dialog {
        width: 1000px;
    }
}

@media only screen and (min-width: 1200px) {
    .modal-dialog {
        width: 1170px;
    }
}

label.config-form {
    margin-top: 4px;
}

form.config-form > div,
form.pwchange-form > div {
    margin-top: 1em;
}

.host-header-date {
    font-size: 50%;
}

.btn-trash {
    background: none;
    border: 0;
    padding: 0;
}

.inline-submit {
    display: inline-block;
    margin: 0;
}

.vert-flex-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a > .badge-tag {
    color: $white;
}

.dropright .dropdown-no-arrow::after {
    display: none;
}

button.check-update {
    font-size: 0.9rem;
    font-weight: bold;
}

.capture-pointer {
    pointer-events: all;
}

.no-select {
    user-select: none;
}

.text-muted {
    color: var(--text-secondary) !important;
}

.showtoken {
    color: var(--text-primary);

    &:hover {
        color: var(--text-secondary) !important;
    }
}

.table {
    color: var(--text-primary);
}

.card {
    background-color: var(--content-bg);
}

.progress {
    background-color: var(--content-bg);
}

.btn {
    color: $off-white;
}

.dropdown-menu {
    background-color: var(--content-bg-alt);
    color: var(--text-primary);

    .dropdown-item {
        color: var(--text-primary);

        &:hover {
            background-color: var(--content-bg);
            color: var(--text-secondary);
        }
    }
}

.dropdown-btn {
    color: var(--text-primary);

    &:hover {
        background-color: var(--content-bg);
    }
}

.modal-content {
    background-color: var(--content-bg-alt);
    color: var(--text-primary);
}
