/*
* Natlas custom styles
* Really needs to be organized
*
*/
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

.natlas-pink {
  color:#ed1e79;
}

.natlas-purple {
  color:#620ee1;
}

.natlas-blue {
  color:#0b59bd;
}

.natlas-soft-blue {
  color:#0064b7;
}


html {
  height:100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  position:relative;
  min-height:100%;
  background-color:#f1f1f1;
}
.main-content{
  padding-top:100px;
  padding-bottom:100px;
}

/*
 * Global add-ons
 */

.search-header {
  border-bottom: 1px solid #eee;
}
.pagenav {
  display:inline-block;
}

.natlas-logo {
  max-height:50px;
  height:100%;
}
.natlas-name {
  max-height:32px;
  height:100%;
}

/*
 * Footer
 */
.global-footer {
  position: absolute;
  right:0;
  bottom:0;
  left:0;
  padding: 1rem;
  text-align:left;
  margin-top:100px;
  color:#99979c;
  background-color:#222;
}
.footer-links {
  padding-left:0;
  margin-bottom:0;
}
.footer-links li {
  display:inline-block;
  margin-left:3em;
}
.footer-links li:first-child {
  margin-left:0em;
}
.footer-links a {
  color: #fff;
}
.version-string a {
  color: #99979c;
}
/*
 * Main content
 */

.nmap_data {
  background-color:rgba(0,0,0,0.05);
  border-radius:10px;
  font-size: 75%;
}
.preview_nmap {
  background-color:rgba(0,0,0,0.75);
  text-align:center;
  line-height:2em;
  margin-top:-1em;
  color:#fff;
}
.preview_nmap:hover {
  background-color:rgba(0,0,0,1);
}
a.preview_link, a:hover.preview_link {
  color:#fff;
  display:block;
}

.messages {
  margin-top:1em;
}

.register-link {
  margin-top:1em;
}

.host-nav {
  margin-bottom:1em;
}

.table-striped>tbody>tr:first-child>td {
  border-top:none;
}

.host-headshot {
  max-width:100%;
}
.headshot-header {
  border-bottom:1px solid #cfcfcf;
}

.green {
  color:green;
}

.red {
  color:red;
}

div.expand-img {
  cursor: zoom-in;
}

.imagetitle {
  display:inline;
}
.date-submitted {
  font-size: .75rem;
}
.port-str {
  font-size: .85rem;
}
.host-hostname {
  font-size: .85rem;
}
.host-export>button {
  font-size: .85rem;
}
@media only screen and (min-width:1000px) {
  .modal-dialog {
    width: 1000px;
  }
}

@media only screen and (min-width:1200px) {
  .modal-dialog {
    width: 1170px;
  }
}

label.config-form {
  margin-top:4px;
}
form.config-form>div, form.pwchange-form>div {
  margin-top:1em;
}

.services-box {
  max-height:20em;
}

.host-row:first-of-type {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.host-row:last-of-type {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.host-row:nth-child(odd) {
  background-color: #f9f9f9;
  border-top: 1px solid #f0f0f0;
}
.host-row:nth-child(even) {
  background-color: #ececec;
  border-top: 1px solid #f0f0f0;
}

.host-header-date {
  font-size:50%;
}

.nmap_history {
  max-height: 10rem;
  overflow: scroll;
}

.export-group {
  display:block;
}

.btn-trash {
  background:none;
  border:none;
  padding:0;
}

.inline-submit {
  display:inline-block;
  margin:0;
}

.script-id {
  font-size: 0.9rem;
}

.script-output {
  font-size: 0.75rem;
}

.port-row {
  border-bottom:1px solid #d6d6d6;
}

.port-summary {
  text-align:center;
}

.port-number {
  background-color: #36978D;
  color: white;
  border-top-left-radius: 10px;
  width: 50%;
  float: left;
}

.port-protocol {
  background-color: #62A9E3;
  color: white;
  border-top-right-radius: 10px;
  width: 50%;
  float:left;
}

.port-service {
  background-color: #2B2D33;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.port-link {
  background-color: #79d65e;
  border-radius: 10px;
  margin-top: 0.75rem;
}
.port-link>a {
  color:white;
}

.service-header {
  border-bottom:1px dotted #e3e3e3;
}
.service-version {
  font-size:0.95rem;
}
.service-extrainfo {
  font-size:0.7rem;
}

.vert-flex-mid {
  display:flex;
  justify-content:center;
  flex-direction:column;
}

a > .badge-tag {
  color:white;
}

.dropright .dropdown-no-arrow::after {
  display:none;
}

.showtoken {
  color:#777 !important;
}
.showtoken:hover {
  color:#111 !important;
}


.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave{
  0%,100% {
    transform:rotate(0)
    }
    20%,60% {
      transform:rotate(-25deg)
    }
    40%,80% {
      transform:rotate(10deg)
    }
  }

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none
  }
  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out
  }
}


#backtotop {
  display: inline-block;
  color: #ed1e79;
  font-size:2em;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
  transition: color .3s
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}
#backtotop:hover {
  cursor: pointer;
  color: #620ee1;
}
#backtotop:active {
  color: #ed1e79;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
}

button.check-update {
  font-size:.9rem;
  font-weight:bold;
}

.image-browser {
  position: relative;
  width: 100%;
}

.image-browser > img {
  opacity: 1;
  display: block;
  transition: .3s;
  backface-visibility: hidden;
}

.image-browser:hover > img {
  opacity: 0.15;
}

.image-browser:hover .thumbnail-hover {
  opacity: 1;
}

.thumbnail-hover {
  transition: .3s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder;
  color: #000;
}