{% extends "base.html" %}
{% block content %}
  {% if not current_user.is_admin %}
  <div class="row">
  	<h2 class="sub-header">You're not an admin!</h2>
  {% else %}
  <div class="row">
    <h2 class="sub-header">Admin Panel</h2>
    <h3>Invite Users</h3>
      <form class="form-inline" action="" method="post">
        {{ inviteForm.hidden_tag() }}
        <div class="input-group">
          {{ inviteForm.email(size=32, class="form-control", placeholder="user@example.com") }}
          {% for error in inviteForm.email.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        {{ inviteForm.submit(class="btn btn-primary") }}
      </form>
  </div>
  {% endif %}
{% endblock %}