{% extends "base.html" %}
{% block content %}
  <div class="row">
    <h2 class="sub-header">Host information for '{{hostname}}'</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if nmap_data|length > 0 %}
          <br><pre class="nmap_data">{{ nmap_data }}</pre>
        {% else %}
          wat?
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
{% endblock %}