{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% include 'includes/pagination.html' %}

    {% if query != '' %}
      <h2 class="sub-header">{{numresults}} search results for '{{query}}'
      <a href="?q={{query}}&p={{page}}&f=hostlist"> [hostlist]</a></h2>
    {% else %}
      <h2 class="sub-header">{{numresults}} hosts scanned</h2>
    {% endif %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for host in hosts %}
            <tr>
              <td>
                <h3><a href="host?h={{ host.ip }}">{{ host.ip }}</a></h3><br>
                <h5>hostname: {{ host.hostname }}<br>
                open ports: {{ host.ports }}</h5>
                {% if host.headshot %}
                  <h5>Unknown Headshot</h5>
                  <img width=200 src="data:image/jpeg;base64,{{ host.headshot }}"></br>
                {% endif %}
                {% if host.vncheadshot %}
                  <h5>VNC</h5>
                  <img width=200 src="data:image/jpeg;base64,{{ host.vncheadshot }}"></br>
                {% endif %}
                {% if host.httpheadshot %}
                  <h5>HTTP</h5>
                  <img width=200 src="data:image/jpeg;base64,{{ host.httpheadshot }}"></br>
                {% endif %}
                {% if host.httpsheadshot %}
                  <h5>HTTPS</h5>
                  <img width=200 src="data:image/jpeg;base64,{{ host.httpsheadshot }}"></br>
                {% endif %}
              </td>
              <td>
                  {% set lines = host.nmap_data.split('\n') %}
                  {% if lines|length > g.preview_length %}
                    {% set nmap_preview = [] %}
                    {% for line in lines %}
                      {% if loop.index <= g.preview_length %}
                        {% do nmap_preview.append(line) %}
                      {% endif %}
                    {% endfor %}
                    <pre class="nmap_data">{{ nmap_preview|join('\n') }}</pre>
                    <a class="preview_link" href="host?h={{ host.ip }}"><div class="preview_nmap">Click here to see the complete results for {{ host.ip }}</div></a>
                  {% else %}
                    <pre class="nmap_data">{{ host.nmap_data }}</pre>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include 'includes/pagination.html' %}
  </div>
{% endblock %}