<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
  {% include 'includes/head.html' %}
  <body class="h-full" x-data="{ mobileSidebar: false, userMenu: false }">
    <div>

      {% include 'includes/mobile-sidebar.html' %}
      {% include 'includes/desktop-sidebar.html' %}

      <div class="lg:pl-72">
        {% include 'includes/header.html' %}

        <main class="py-10">
          <div class="px-4 sm:px-6 lg:px-8">
            {% include 'includes/messages.html' %}
            {% block content %}
            {% endblock %}
            {% include 'includes/backtotop.html' %}
          </div>
        </main>
      </div>
    </div>
    {% include 'includes/search_modal.html' %}
  </body>
</html>
