{% extends "base.html" %}
{% set pagetype = 'search' %}
{% if query != '' %}
  {% set title = query ~ " | Page " ~ page %}
{% else %}
  {% set title = "Browse | Page " ~ page %}
{% endif %}

{% block content %}
  <div class="row">
    <div class="col">
    {% if query != '' %}
      <h2 class="sub-header">{{numresults}} search results for '{{query}}'
      <a href="?q={{query}}&p={{page}}&f=hostlist"> [hostlist]</a></h2>
    {% else %}
      <h2 class="sub-header">{{numresults}} hosts scanned</h2>
    {% endif %}
    {% include 'includes/pagination.html' %}
    </div>
  </div>
  
  {% for host in hosts %}
    {% include 'host/_host-row.html' %}
  {% endfor %}
  {% include 'host/_imagemodal.html' %}
  <div class="row">
    {% include 'includes/pagination.html' %}
  </div>
{% endblock %}