[Unit]
Description=Natlas Agent
After=network.target
 
[Service]
Type=simple
WorkingDirectory=/opt/natlas/natlas-agent
ExecStart=/usr/bin/python3 /opt/natlas/natlas-agent/natlas-agent.py
Restart=always

[Install]
WantedBy=multi-user.target