# Ships with source
deployment/
elastic-snapshot.py
*.md
.dockerignore
Dockerfile
tests/
docs/
.scss-lint.yml
tslint.json
.eslintrc.yml
.python-version

# Dev Environment
__pycache__/
.env
.venv/
venv/
tmp/
logs/
data/
*.db
*.log
node_modules/
