[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-flask = "*"

[packages]
contextvars = "~=2.4"
elasticsearch = "~=7.12.0"
email-validator = "~=1.1.2"
Flask-Login = "~=0.5.0"
Flask-Mail = "~=0.9.1"
Flask-Migrate = "~=2.7.0"
Flask-SQLAlchemy = "~=2.5.1"
Flask-WTF = "~=0.14.3"
gunicorn = "~=20.1.0"
netaddr = "~=0.8.0"
opencensus-ext-flask = "~=0.7.4"
opencensus-ext-ocagent = "~=0.7.1"
opencensus-ext-sqlalchemy = "~=0.1.2"
Pillow = "~=8.2.0"
PyJWT = "~=2.0.1"
python-dotenv = "~=0.17.0"
semver = "~=2.13.0"
sentry-sdk = "~=1.5.11"
sympy = "~=1.8"
webpack-manifest = "~=2.1.1"
natlas-libnmap = "*"
cyclicprng = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
