alembic==1.4.2
blinker==1.4
cachetools==4.1.0
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
contextvars==2.4
dnspython==1.16.0
elasticsearch==7.7.1
email-validator==1.1.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
google-api-core==1.20.0
google-auth==1.17.2
googleapis-common-protos==1.52.0
grpcio==1.29.0
gunicorn==20.0.4
idna==2.9
immutables==0.14
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
mpmath==1.1.0
netaddr==0.7.19
opencensus==0.7.7
opencensus-context==0.1.1
opencensus-ext-flask==0.7.3
opencensus-ext-ocagent==0.7.1
opencensus-ext-sqlalchemy==0.1.2
opencensus-proto==0.1.0
Pillow==7.1.2
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
python-libnmap==0.7.0
pytz==2020.1
requests==2.23.0
rsa==4.6
semver==2.10.1
sentry-sdk==0.14.4
six==1.15.0
SQLAlchemy==1.3.17
sympy==1.6
urllib3==1.25.9
webpack-manifest==2.1.1
Werkzeug==1.0.1
WTForms==2.3.1
