<div class="row page-header">
    <div class="col-xs-12 col-sm">
        <h1>{% if host %}{% include 'host/versions/0.6.10/_host-status.html' %}{% endif %}{{ ip }}{% if host %}<small class="text-muted host-header-date"> - <time datetime="{{host.ctime}}">{{ host.ctime | ctime }}</time></small>{% endif %}</h1>
    </div>
    {% if current_user.is_authenticated %}
    <div class="col-xs-12 col-sm-2" style="text-align:right;">
        <div class="btn-group host-history-export" role="group">
            <form method="POST" action="{{ url_for('host.rescan_host', ip=ip) }}">{{ rescanForm.hidden_tag() }}<button id="requestRescan" class="btn btn-primary" title="Request Rescan" name="requestRescan" type="submit" onclick="return confirm('Request rescan of {{ ip }}?')"><i class="fas fa-redo-alt"></i></button></form>
            {% if current_user.is_admin %}
                <button id="deleteGroup" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fas fa-trash-alt text-white"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="deleteGroup">
                {% if host %}
                    <form method="POST" class="dropdown-item" action="{{ url_for('admin.delete_scan', scan_id=host.scan_id) }}">{{ delForm.hidden_tag() }} <button class="dropdown-item" id="deleteScan" name="deleteScan" title="Delete Scan" aria-hidden="true" onclick="return confirm('Are you sure you want to delete scan: {{ host.scan_id }}')" type="submit" ><i class="fas fa-trash-alt text-danger"></i> Delete Scan</button></form>
                {% endif %}
                  <form method="POST" class="dropdown-item" action="{{ url_for('admin.delete_host', ip=ip) }}">{{ delHostForm.hidden_tag() }} <button class="dropdown-item" id="deleteHost" name="deleteHost" title="Delete Host" aria-hidden="true" onclick="return confirm('Are you sure you want to delete host: {{ ip }}')" type="submit" ><i class="fas fa-dumpster-fire text-danger"></i> Delete Host</button></form>
                </div> <!-- End delete dropdown-->
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<div class="row">
  <ul class="nav nav-tabs host-nav">
    <li role="presentation" class="nav-item">
        <a id="summary" class="nav-link{{ ' active' if active_page == 'summary' }}" href="{{ url_for('host.host', ip=ip) }}">Summary</a>
    </li>
    <li role="presentation" class="nav-item">
        <a id="history" class="nav-link{{ ' active' if active_page == 'history' }}" href="{{ url_for('host.host_history', ip=ip) }}">History <span class="badge badge-dark">{{ info.history }}</span></a>
    </li>
    <li role="presentation" class="nav-item">
        <a id="headshots" class="nav-link{{ ' active' if active_page == 'screenshots' }}" href="{{ url_for('host.host_screenshots', ip=ip) }}">Screenshots {% if info.screenshot_count > 0%}<span class="badge badge-dark">{{ info.screenshot_count }}</span>{% endif %}</a>
    </li>
  </ul>
</div>
