<div class="row host-row py-1 no-gutters">
    <div class="col col-xs-6 col-sm-4 vert-flex-mid">
      <span class="host-row-text pl-2">
        {% include 'host/versions/0.6.10/_host-status.html' %}
        <a href="{{ url_for('host.host_historical_result', ip=host.ip, scan_id=host.scan_id) }}">
          <time datetime={{ host.ctime }} title="{{ host.ctime|ctime(human=True) }}">{{ host.ctime | ctime }}</time>
        </a>
      </span>
    </div>
      <div class="col col-xs-6 col-sm-4 col-md-7 pr-2 vert-flex-mid">
        {% if host.is_up and host.port_count == 0 %}
          No ports open
        {% elif not host.is_up and host.timed_out %}
          Scan Timed Out
        {% elif not host.is_up %}
          Host down
        {% elif host.is_up and host.port_count > 0 %}
          <div class="d-xs-flex d-md-none"><span>{% for port in host.ports %}{{ port.port }}{% if not loop.last %}, {% endif %}{% endfor %}</span></div>
          <div class="row d-none d-md-flex">
          {% for port in host.ports %}
            <div class="col-xs-4 col-sm-2 port-summary my-1">
              <div class="port-number">
                  {{ port.port }}
              </div>
              <div class="port-protocol">
                  {{port.protocol}}
              </div>
              <div class="clearfix"></div>
              <div class="port-service">
                  {{ port.service.name }}
              </div>
            </div><!--end port-summary-->
          {% endfor %}
        </div>
        {% endif %}
      </div>

    <div class="col col-sm-4 col-md-1 d-none d-sm-flex vert-flex-mid">
      {% if host.nmap_data or host.xml_data or host.gnmap_data %}
       {% include 'host/versions/0.6.10/_host-export.html' %}
    {% else %}
      <div class="btn-group host-history-export" role="group">
        <button id="exportGroup-{{host.scan_id}}" type="button" class="btn btn-primary dropdown-toggle" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="No data available to export">
          Export
        </button>
      </div>
    {% endif %}
    </div>
</div>
