#backtotop {
    border-radius: 4px;
    bottom: 5px;
    color: $natlas-pink;
    display: inline-block;
    font-size: 2em;
    margin: 5px;
    opacity: 0;
    position: fixed;
    right: 5px;
    text-align: center;
    transition: color 0.3s opacity 0.5s, visibility 0.5s;
    visibility: hidden;
    z-index: 1000;
}

#backtotop:hover {
    color: $natlas-purple;
    cursor: pointer;
}

#backtotop:active {
    color: $natlas-pink;
}

#backtotop.show {
    opacity: 1;
    visibility: visible;
}
