<div class="row py-3{% if not portloop.last %} port-row{% endif %}">
    <div class="col-xs-6 col-sm-2 port-summary">
        <div class="port-num-proto d-block">
            <div class="port-number">
                {{ port.port }}
            </div>
            <div class="port-protocol">
                {{ port.protocol }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="port-service">
            {{ port.service.name }}
        </div>
        {% if 'http' in port.service.name %}
        <div class="port-link">
            <a class="d-block" target="_blank" rel="noopener noreferrer" href="{% if port.service.tunnel == 'ssl' %}https://{% else %}http://{% endif %}{{ host.ip }}{% if port.port not in [80,443] %}:{{ port.port }}{% endif %}"><i class="fas fa-external-link-alt"></i></a>
        </div>
        {% endif %}
    </div><!--end port-summary-->

    <div class="col-xs-12 col-sm-10 port-details">
        {% if port.service.product or port.service.version or port.service.extrainfo %}
        <h5 class="service-header">{{ port.service.product }}{% if port.service.version %}<small class="text-muted service-version pl-2">{{ port.service.version }}</small>{% endif %}{% if port.service.extrainfo %}<small class="text-muted service-extrainfo pl-2">{{ port.service.extrainfo }}</small>{% endif %}</h5>
        {% endif %}
        {% if port.banner %}
            <div class="row port-banner">
                <div class="col">
                    <p><small class="text-muted">{{ port.banner }}</small></p>
                </div>
            </div>
        {% endif %}
        {% if port.scripts %}
            {% for script in port.scripts %}
                {% if script.output.rstrip() != "" %}
                <div class="row script-header">
                    <div class="col">
                        <div class="script-container" id="{{ port.protocol }}-{{ port.port }}-{{ script.id }}-{{ host.scan_id }}">
                            <h5 class="text-muted script-id">{{ script.id }}</h5>
                        </div>
                    </div>
                </div>
                <div class="row script-data">
                    <div class="col">
                        <pre class="script-output pl-2 pt-2">{{ script.output }}</pre>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %} <!--end scripts-->
    </div><!--end port-details-->
</div><!--end port-->
