<footer class="navbar global-footer navbar-dark bg-dark">
  <div class="container justify-content-between">
        <div class="px-2 my-flex">
            <ul class="footer-links">
              <li><a title="Check out Natlas on Github" target="_blank" rel="noopener noreferrer" href="https://github.com/natlas/natlas">GitHub</a></li>
              <li><a title="Checkout the issues" target="_blank" rel="noopener noreferrer" href="https://github.com/natlas/natlas/issues">Issues</a></li>
              <li><a title="Visit the wiki" target="_blank" rel="noopener noreferrer" href="https://github.com/natlas/natlas/wiki">Wiki</a></li>
              <li><a title="View our license" target="_blank" rel="noopener noreferrer" href="https://github.com/natlas/natlas/blob/main/LICENSE">License</a></li>
            </ul>
        </div>
        <div class="px-2 my-flex">
          <span class="version-string"><a id="natlasVersion" target="_blank" href="https://github.com/natlas/natlas/releases/tag/v{{ config.NATLAS_VERSION }}">v{{ config.NATLAS_VERSION }}</a></span>
        </div>
        <div class="px-2 my-flex">
            <a href="{{ url_for('main.index') }}"><img class="img-fluid natlas-name" src="/static/img/natlas-name.png" title="Natlas {{ config.NATLAS_VERSION }}" alt="Natlas"></a>
        </div>
  </div>
</footer>
