<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if config['SENTRY_JS_DSN'] %}
    <meta name="sentry-dsn" content="{{ config['SENTRY_JS_DSN'] }}" />
    {% endif %}
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Natlas is an open source project designed to provide scalable network scanning and an interface to search through the results. For more information, visit github.com/natlas/natlas">
    <meta name="author" content="Natlas Authors">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {% if title %}
    <title>{{ title }} | Natlas</title>
    {% else %}
    <title>Natlas</title>
    {% endif %}
    {% include 'includes/styles.html' %}
    {% include 'includes/scripts.html' %}
</head>
