    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">nweb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('search') }}">Browse</a></li>
          </ul>


          <form class="navbar-form navbar-right" action="{{ url_for('search') }}" name="search">
            <div class="input-group">
              <input type="text" class="form-control" value="{{query}}" name="q" placeholder="Search..." />
              <input type="submit" value="" style="display: none"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </span>
            </div>

            <a href="#" data-toggle="modal" data-target="#myModal"<span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="color:#fff;"></span></a>
          </form>


          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_admin %}
            <li><a href="{{ url_for('admin') }}">Admin</a></li>
            {% endif %}
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
          </ul>
        </div>
      </div>
    </nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Search Help</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>The default operator is AND, but can be overridden using "OR"
            <ul>
              <li><code>22 80</code> would search for results with both strings "22" and "80" in them</li>
              <li><code>22 OR 80</code> would search for results with the string "22" or "80" in them</li>
            </ul>
          </li>
          <li>You can look for exact string matches by wrapping the term in quotes
            <ul>
              <li><code>"22/tcp"</code> would return results in which the exact string "22/tcp" appears</li>
            </ul>
          </li>
          <li>To exclude results, you can use "!"
            <ul>
              <li><code>!ssh</code> to filter out results containing the string ssh</li>
              <li><code>!ssh !apache</code> to filter out results containing both strings "ssh" and "apache"</li>
            </ul>
          </li>
          <li>Search for specific ports using "ports:" 
            <ul>
              <li><code>ports:22</code> shows hosts with port 22 identified as open</li>
              <li><code>ports:22 OR ports:2222</code> shows hosts with port 22 or port 2222 identified as open</li>
            </ul>
          </li>
          <li>Search time ranges by using the "ctime:" keyword 
            <ul>
              <li><code>ctime:&lt;2018</code> to search for results before January 1st, 2018</li>
              <li><code>ctime:2018-01-01</code> to search for results from January 1st, 2018</li>
              <li><code>ctime:>2018-01</code> to search for results newer than January 1st, 2018</li>
            </ul>
          </li>
          <li>Put it all together now:
            <ul>
              <li><code>ctime:>2018-01 ports:22 !OpenSSH</code> shows us results newer than January 1st, 2018 that are listening on port 22 but do not contain the string "OpenSSH" in them</li>
        </ul>
      </div>
    </div>
  </div>
</div>