<div class="page-header">
    <h1>Admin Panel</h1>
</div>
<ul class="nav nav-tabs host-nav" role="tablist">
  <li role="presentation" class="{{ 'active' if active_page == 'config' else '' }}">
  	<a id="nav-summary" href="{{ url_for('admin.admin') }}">Config</a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'users' else '' }}">
  	<a id="nav-users" href="{{ url_for('admin.users') }}">Users</a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'scope' else '' }}">
  	<a id="nav-scope" href="{{ url_for('admin.scope') }}">Scope</a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'blacklist' else '' }}">
    <a id="nav-blacklist" href="{{ url_for('admin.blacklist') }}">Blacklist</a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'services' else '' }}">
    <a id="nav-services" href="{{ url_for('admin.services') }}">Services</a>
  </li>
  <li role="presentation" class="{{ 'active' if active_page == 'agents' else '' }}">
    <a id="nav-agents" href="{{ url_for('admin.agentConfig') }}">Agents</a>
  </li>
</ul>