<div class="row page-header">
    <div class="col-xs-12 col-sm-10">
      <h1>Admin Panel</h1>
    </div>
    <div class="col-xs-12 col-sm-2" style="text-align:right;">
      <button type="button" id="checkForUpdate" data-placement="bottom" class="btn btn-primary check-update">Check For Updates</button>
    </div>
</div>
<div class="row">
<ul class="nav nav-tabs host-nav" role="tablist">
  <li class="nav-item" role="presentation">
    <a id="nav-summary" class="nav-link{{ ' active' if active_page == 'config' }}" href="{{ url_for('admin.admin') }}">Config</a>
  </li>
  <li class="nav-item" role="presentation">
      <a class="nav-link{{ ' active' if active_page == 'users' }}" id="nav-users" href="{{ url_for('admin.users') }}">Users</a>
  </li>
  <li class="nav-item" role="presentation">
      <a class="nav-link{{ ' active' if active_page == 'scope' }}" id="nav-scope" href="{{ url_for('admin.scope') }}">Scope</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link{{ ' active' if active_page == 'blacklist' }}" id="nav-blacklist" href="{{ url_for('admin.blacklist') }}">Blacklist</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link{{ ' active' if active_page == 'tags' }}" id="nav-tags" href="{{ url_for('admin.tags') }}">Tags</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link{{ ' active' if active_page == 'services' }}" id="nav-services" href="{{ url_for('admin.services') }}">Services</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link{{ ' active' if active_page == 'agents' }}" id="nav-agents" href="{{ url_for('admin.agentConfig') }}">Agents</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link{{ ' active' if active_page == 'logs' }}" id="nav-agents" href="{{ url_for('admin.logs') }}">Logs</a>
  </li>
</ul>
</div>
