{% extends "base.html" %}
{% set title = "Agent Configuration" %}
{% set active_page = "agents" %}
{% block content %}

{% include 'admin/_header.html' %}
  <form class="form" action="" method="post">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <legend>Nmap Config</legend>
      {{ agentForm.hidden_tag() }} 
        <div class="form-check">
            {{ agentForm.versionDetection(class="form-check-input") }}
            {{ agentForm.versionDetection.label(class="form-check-label") }}
        </div>
        <div class="form-check">
            <label>
            {{ agentForm.osDetection(class="form-check-input") }}
            {{ agentForm.osDetection.label(class="form-check-label") }}
          </label>
        </div>
        <div class="form-check">
            <label>
            {{ agentForm.defaultScripts(class="form-check-input") }} 
            {{ agentForm.defaultScripts.label(class="form-check-label") }}</label>
        </div>
        <div class="form-check">
            <label>
            {{ agentForm.onlyOpens(class="form-check-input") }} 
            {{ agentForm.onlyOpens.label(class="form-check-label") }}
          </label>
        </div>
        <div class="form-group">
          {{ agentForm.scanTimeout.label }}
          <div class="input-group">
            {{ agentForm.scanTimeout(class="form-control", placeholder="300")}}
            <div class="input-group-append"><div class="input-group-text">seconds</div></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <legend>Screenshot Settings</legend>
        <div class="form-check">
            <label>
            {{ agentForm.webScreenshots(class="form-check-input") }} 
          {{ agentForm.webScreenshots.label(class="form-check-label") }}
        </label>
        </div>
        <div class="form-check">
            <label>
              {{ agentForm.vncScreenshots(class="form-check-input") }}
             {{ agentForm.vncScreenshots.label(class="form-check-label") }}
           </label>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 text-center">
            {{ agentForm.updateAgents(class="btn btn-primary", style="margin-top:1em;") }}
          </div>
        </div>

        </form>
      </div>
  </div>
{% endblock %}