{% extends "base.html" %}
{% set title = "Manage Configuration" %}
{% set active_page = "config" %}
{% block content %}
  {% include 'admin/_header.html' %}
   <div class="row">
    <div class="col">
    <form class="form config-form" action="{{url_for('admin.admin')}}" method="post">
        <h3>General Settings</h3>
        {{ configForm.hidden_tag() }}
        <div class="form-check">
            {{ configForm.login_required(checked=configItems["LOGIN_REQUIRED"], class="form-check-input", id="loginRequired") }}
            {{ configForm.login_required.label(class="form-check-label", for="loginRequired") }}
        </div>
        <div class="form-check">
            {{ configForm.register_allowed(checked=configItems["REGISTER_ALLOWED"], class="form-check-input", id="registerAllowed") }}
            {{ configForm.register_allowed.label(class="form-check-label", for="registerAllowed") }}
        </div>
        <div class="form-check">
            {{ configForm.agent_authentication(checked=configItems["AGENT_AUTHENTICATION"], class="form-check-input", id="agentAuthentication") }}
            {{ configForm.agent_authentication.label(class="form-check-label", for="agentAuthentication") }}
        </div>
        <div class="form-group">
            {{ configForm.custom_brand.label(class="control-label") }}
            {{ configForm.custom_brand(value=configItems["CUSTOM_BRAND"], class="form-control", placeholder="Natlas Internal") }}
        </div>
        {{ configForm.submit(class="btn btn-primary") }}
    </form>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}
