{% extends "base.html" %}
{% set title = "Manage Configuration" %}
{% set active_page = "config" %}
{% block content %}
  {% include 'admin/_header.html' %}
   <div class="row">
    <div class="col">
    <form class="form config-form" action="{{url_for('admin.admin')}}" method="post">
    	<h3>General Settings</h3>
    	{{ configForm.hidden_tag() }}
    	<div class="form-check">
            {{ configForm.login_required(checked=configItems["LOGIN_REQUIRED"], class="form-check-input", id="loginRequired") }} 
            {{ configForm.login_required.label(class="form-check-label", for="loginRequired") }}
        </div>
        <div class="form-check">
            {{ configForm.register_allowed(checked=configItems["REGISTER_ALLOWED"], class="form-check-input", id="registerAllowed") }} 
            {{ configForm.register_allowed.label(class="form-check-label", for="registerAllowed") }}
        </div>
        <div class="form-check">
            {{ configForm.agent_authentication(checked=configItems["AGENT_AUTHENTICATION"], class="form-check-input", id="agentAuthentication") }} 
            {{ configForm.agent_authentication.label(class="form-check-label", for="agentAuthentication") }}
        </div>
    	<div class="form-group">
    		{{ configForm.elasticsearch_url.label(class="control-label") }}
    		{{ configForm.elasticsearch_url(value=configItems["ELASTICSEARCH_URL"], class="form-control", placeholder="http://localhost:9200") }}
            {% for error in configForm.elasticsearch_url.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
    	</div>
    	<h3>Mail Settings</h3>
    	<small id="mailSettingsHelp" class="form-text text-muted">Mail settings are used to send invitation emails and password resets.</small>
    	<div class="form-group">
    		{{ configForm.mail_from.label(class="control-label") }}
    		{{ configForm.mail_from(value=configItems["MAIL_FROM"], class="form-control") }}
    	</div>
    	<div class="form-group">
    		{{ configForm.mail_server.label(class="control-label") }}
    		{{ configForm.mail_server(value=configItems["MAIL_SERVER"], class="form-control") }}
    	</div>
    	<div class="form-group">
    		{{ configForm.mail_port.label(class="control-label") }}
    		{{ configForm.mail_port(value=configItems["MAIL_PORT"], class="form-control") }}
    	</div>
    	<div class="form-check">
            {{ configForm.mail_use_tls(checked=configItems["MAIL_USE_TLS"], class="form-check-input") }} 
            {{ configForm.mail_use_tls.label(class="form-check-label") }}
        </div>
    	<div class="form-group">
    		{{ configForm.mail_username.label(class="control-label") }}
    		{{ configForm.mail_username(value=configItems["MAIL_USERNAME"], class="form-control", readonly="readonly", onfocus="javascript: this.removeAttribute('readonly')") }}
    		<small id="usernameHelpBlock" class="form-text text-muted">Click the field to make changes</small>
    	</div>
    	<div class="form-group">
    		{{ configForm.mail_password.label(class="control-label") }}
    		{{ configForm.mail_password(value=configItems["MAIL_PASSWORD"], class="form-control", readonly="readonly", onfocus="javascript: this.removeAttribute('readonly')") }}
    		<small id="passwordHelpBlock" class="form-text text-muted">Click the field to make changes</small>
    	</div>
    	{{ configForm.submit(class="btn btn-primary") }}
    </form>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}