{% extends "base.html" %}
{% set title = "Manage Tags" %}
{% set active_page = "tags" %}
{% block content %}
  {% include 'admin/_header.html' %}
  <div class="row">
    <div class="col">
      <h3>Add Tag</h3>
        <form class="form-inline" action="{{url_for('admin.tags')}}" method="post">
        {{ addForm.hidden_tag() }}
        {{ addForm.tagname.label(class="sr-only", for="tagname")}}
        {{ addForm.tagname(size=32, class="form-control", placeholder="example-tag") }}
        {% for error in addForm.tagname.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ addForm.addTag(class="btn btn-primary ml-3") }}
      </form>
    </div>
  </div>
  {% if tags %}
  <div class="row">
    <div class="col">
      <h3 class="mt-3">Manage Tags</h3>
      <table class="table table-striped dataTable" id="tagTable">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Scope</th>
          </tr>
        </thead>
        <tbody>
          {% for tag in tags %}
          <tr>
            <th scope="row">{{ tag.id }}</th>
            <td><a href="{{ url_for('main.search', query="tags:" + tag.name)}}">{{ tag.name }}</a></td>
            <td>{% for i in tag.scope %}{{ i.target }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}
