{% extends "base.html" %}
{% set title = "Manage Users" %}
{% set active_page = "users" %}
{% block content %}
  <div class="row">
    {% include 'admin/_header.html' %}
    <h3>Invite Users</h3>
    <form class="form-inline" action="" method="post">
      {{ inviteForm.hidden_tag() }}
      <div class="input-group">
        {{ inviteForm.email(size=32, class="form-control", placeholder="user@example.com") }}
        {% for error in inviteForm.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      {{ inviteForm.submit(class="btn btn-primary") }}
    </form>
    {% if users %}
    <h3>Manage Users</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.email }}{% if user.is_admin %} <span class="badge">admin</span>{% endif %}</td>
          <td><form method="POST" action="{{ url_for('admin.deleteUser', id=user.id) }}">{{ delForm.hidden_tag() }} {{ delForm.deleteUser(class="btn btn-danger", onclick="return confirm('Are you sure you want to delete this user?')") }}</form></td>
          <td><form method="POST" action="{{ url_for('admin.toggleUser', id=user.id) }}">{{ editForm.hidden_tag() }}{{ editForm.editUser(class="btn btn-warning", onclick="return confirm('Are you sure you want to make this user an admin?')") }}</form></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endblock %}