{% extends "base.html" %}
{% set title = "Manage Users" %}
{% set active_page = "users" %}
{% block content %}
  {% include 'admin/_header.html' %}
  <div class="row">
    <div class="col">
      <h3>Invite Users</h3>
      <form class="form-inline" action="{{url_for('admin.users')}}" method="post">
        {{ inviteForm.hidden_tag() }}
        {{ inviteForm.email.label(class="sr-only", for="email")}}
        {{ inviteForm.email(size=32, class="form-control", placeholder="user@example.com") }}
        {% for error in inviteForm.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ inviteForm.submit(class="btn btn-primary ml-3") }}
      </form>
    </div>
  </div>
  {% if users %}
  <div class="row">
    <div class="col">
      <h3 class="mt-3">Manage Users</h3>
      <table class="table table-striped dataTable" id="userTable">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col" class="table-controls"></th>
            <th scope="col" class="table-controls"></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.email }}</td>
            <td>{{ user.is_admin }}</td>
            <td><form method="POST" action="{{ url_for('admin.delete_user', id=user.id) }}">{{ delForm.hidden_tag() }} <button class="btn btn-danger" id="deleteUser-{{user.id}}" name="deleteUser" title="Delete User" onclick="return confirm('Are you sure you want to delete {{ user.email }}?')" type="submit"><i class="fas fa-user-slash mr-2"></i>Delete</button></form></td>
            <td><form method="POST" action="{{ url_for('admin.toggle_user', id=user.id) }}">{{ editForm.hidden_tag() }}
              {% if user.is_admin %}
              <button class="btn btn-warning" id="editUser-{{user.id}}" name="editUser" title="Demote User" onclick="return confirm('Are you sure you want to demote {{ user.email }}?')" type="submit"><i class="fas fa-arrow-circle-down mr-2"></i>Demote</button>
              {% else %}
              <button class="btn btn-info" id="editUser-{{user.id}}" name="editUser" title="Promote User" onclick="return confirm('Are you sure you want to promote {{ user.email }}?')" type="submit" ><i class="fas fa-arrow-circle-up mr-2"></i>Promote</button>
              {% endif %}
            </form></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
{% endblock %}
